a:link {
	color: #CC0066;
	text-decoration: none;
}
a:visited {
	color: #CC0066;
	text-decoration: none;
}
a:hover {
        font-weight: bold;
	color: #009900;
	text-decoration: none;
}
a:active {
	color: #3333FF;
	text-decoration: none;
}
